.books{
  width:960px;
  height:auto;
  margin:30px auto;
  }

  .books__filter{
    display:inline-block;
    margin-bottom:150px;
    margin-right:30px;
    width:280px;
    text-align: center;
    }

  .books__item{
    display:inline-block;
    width:315px;
    text-align: left;
    font-weight: bold;

    }
